---
import SectionTitle from "../ui/SectionTitle.astro";
import ProjectsIcon from "@/icons/ProjectsIcon.astro";
import Card from "../ui/Card.astro";
import { projects } from "@/data/projects";
---

<section id="projects" class="flex flex-col gap-8">
  <div class="fade-up-view">
    <SectionTitle title="Projects" Icon={ProjectsIcon} />
  </div>

  <div class="grid grid-cols-2 gap-6">
    {
      projects.map((project) => (
        <Card
          previewLink={project.previewLink}
          githubLink={project.githubLink}
          projectTitle={project.projectTitle}
          projectDescription={project.projectDescription}
          imageSrc={project.imageSrc}
          imageAlt={project.imageAlt}
          techs={project.techs}
        />
      ))
    }
  </div>
</section>
