---
import SectionTitle from "../ui/SectionTitle.astro";
import TechsIcon from "../../icons/TechsIcon.astro";

import TechCard from "../../components/ui/TechCard.astro";
import IconHtml from "../../icons/techs/IconHtml.astro";
import CssIcon from "../../icons/techs/CssIcon.astro";
import JsIcon from "../../icons/techs/JsIcon.astro";
import ReactIcon from "../../icons/techs/ReactIcon.astro";
import NextIcon from "../../icons/techs/NextIcon.astro";
import AstroIcon from "../../icons/techs/AstroIcon.astro";
import TailwindIcon from "../../icons/techs/TailwindIcon.astro";
import BootstrapIcon from "../../icons/techs/BootstrapIcon.astro";
import FlutterIcon from "../../icons/techs/FlutterIcon.astro";
import DartIcon from "../../icons/techs/DartIcon.astro";
import FigmaIcon from "../../icons/techs/FigmaIcon.astro";
import IllustratorIcon from "../../icons/techs/IllustratorIcon.astro";
import GitIcon from "../../icons/techs/GitIcon.astro";
import GithubIcon from "../../icons/techs/GithubIcon.astro";
import VercelIcon from "../../icons/techs/VercelIcon.astro";
import PosgresIcon from "../../icons/techs/PostgresIcon.astro";
import MongoIcon from "../../icons/techs/MongoIcon.astro";
import CsharpIcon from "../../icons/techs/CsharpIcon.astro";

const techs = [
  { Icon: IconHtml, IconTitle: "Html"},
  { Icon: CssIcon, IconTitle: "CSS" },
  { Icon: JsIcon, IconTitle: "JavaScript" },
  { Icon: ReactIcon, IconTitle: "React" },
  { Icon: NextIcon, IconHeight: "h-12", IconWidth: "w-14", IconTitle: "Next.js" },
  { Icon: AstroIcon, IconTitle: "Astro" },
  { Icon: TailwindIcon, IconTitle: "TailwindCSS" },
  { Icon: BootstrapIcon, IconTitle: "Bootstrap" },
  { Icon: FlutterIcon, IconTitle: "Flutter" },
  { Icon: DartIcon, IconTitle: "Dart" },
  { Icon: FigmaIcon, IconTitle: "Figma" },
  { Icon: IllustratorIcon, IconTitle: "Illustrator" },
  { Icon: GitIcon, IconTitle: "Git" },
  { Icon: GithubIcon, IconTitle: "GitHub" },
  { Icon: VercelIcon, IconHeight: "h-14", IconWidth: "w-16", IconTitle: "Vercel" },
  { Icon: PosgresIcon, IconTitle: "PostgreSQL" },
  { Icon: MongoIcon, IconTitle: "MongoDB" },
  { Icon: CsharpIcon, IconTitle: "C#" },
];
---

<section class="flex flex-col w-full gap-8">

    <div id="title">
      <SectionTitle
      title="Technologies"
      Icon={TechsIcon}
    />
    </div>

    <div class="techs w-full h-[10rem]">
        {techs.map(({ Icon, IconHeight, IconWidth, IconTitle }, index) => {
            const initialDelay = 0.1;
            const delayIncrement = 0.1;
            
            const calculatedDelay = initialDelay + (index * delayIncrement);
            
            const delayString = `${calculatedDelay.toFixed(2)}s`; 
            
            return (
                <TechCard
                    Icon={Icon}
                    IconHeight={IconHeight}
                    IconWidth={IconWidth}
                    IconTitle={IconTitle}
                    delay={delayString}
                />
            );
        })}
    </div>
</section>

<style>
   .techs {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
    }

    #title{
      animation: fadeIn 0.8s ease-out 0.5s forwards;
    }

    @keyframes fadeIn {
      0% {
          transform: translateY(50px);
          opacity: 0;
      }
      50% {
          transform: translateY(-10px);
          opacity: 0.8;
      }
      100% {
          transform: translateY(0);
          opacity: 1;
      }
  }
</style>