---
import SectionTitle from "../ui/SectionTitle.astro";
import TechsIcon from "../../icons/TechsIcon.astro";

import TechCard from "../../components/ui/TechCard.astro";
import HtmlIcon from "../../icons/techs/HtmlIcon.astro";
// import HtmlIcon from "../../icons/techs/HtmlIcon.astro";
import CssIcon from "../../icons/techs/CssIcon.astro";
import JsIcon from "../../icons/techs/JsIcon.astro";
import ReactIcon from "../../icons/techs/ReactIcon.astro";
import NextIcon from "../../icons/techs/NextIcon.astro";
import AstroIcon from "../../icons/techs/AstroIcon.astro";
import TailwindIcon from "../../icons/techs/TailwindIcon.astro";
import BootstrapIcon from "../../icons/techs/BootstrapIcon.astro";
import FlutterIcon from "../../icons/techs/FlutterIcon.astro";
import DartIcon from "../../icons/techs/DartIcon.astro";
import FigmaIcon from "../../icons/techs/FigmaIcon.astro";
import IllustratorIcon from "../../icons/techs/IllustratorIcon.astro";
import GitIcon from "../../icons/techs/GitIcon.astro";
import GithubIcon from "../../icons/techs/GithubIcon.astro";
import VercelIcon from "../../icons/techs/VercelIcon.astro";
import PosgresIcon from "../../icons/techs/PostgresIcon.astro";
import MongoIcon from "../../icons/techs/MongoIcon.astro";
import CsharpIcon from "../../icons/techs/CsharpIcon.astro";
import NpmIcon from "../../icons/techs/NpmIcon.astro";

const techs = [
  // { Icon: HtmlIcon, IconTitle: "HTML"},
  { Icon: CssIcon, IconTitle: "CSS" },
  { Icon: JsIcon, IconTitle: "JavaScript" },
  { Icon: ReactIcon, IconTitle: "React" },
  { Icon: NextIcon, IconHeight: "h-12", IconWidth: "w-14", IconTitle: "Next.js" },
  { Icon: AstroIcon, IconTitle: "Astro" },
  { Icon: TailwindIcon, IconTitle: "TailwindCSS" },
  { Icon: BootstrapIcon, IconTitle: "Bootstrap" },
  { Icon: FlutterIcon, IconTitle: "Flutter" },
  { Icon: DartIcon, IconTitle: "Dart" },
  { Icon: FigmaIcon, IconTitle: "Figma" },
  { Icon: IllustratorIcon, IconTitle: "Illustrator" },
  { Icon: GitIcon, IconTitle: "Git" },
  { Icon: GithubIcon, IconTitle: "GitHub" },
  { Icon: VercelIcon, IconHeight: "h-14", IconWidth: "w-16", IconTitle: "Vercel" },
  { Icon: PosgresIcon, IconTitle: "PostgreSQL" },
  { Icon: MongoIcon, IconTitle: "MongoDB" },
  { Icon: CsharpIcon, IconTitle: "C#" },
  // { Icon: NpmIcon, IconTitle: "NPM" },
];
---

<section class="flex flex-col w-full gap-8">

    <SectionTitle
      title="Technologies"
      Icon={TechsIcon}
    />

   <div class="techs w-full h-[10rem]">
    {techs.map(({ Icon, IconHeight, IconWidth, IconTitle }) => (
      <TechCard
        Icon={Icon}
        IconHeight={IconHeight}
        IconWidth={IconWidth}
        IconTitle={IconTitle}
      />
    ))}
  </div>
</section>

<style>
   .techs {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
    }
</style>
