---
import Pill from "./Pill.astro";
import CustomButton from "./CustomButton.astro";
import PreviewIcon from "../../icons/PreviewIcon.astro";
import GithubOutlineIcon from "../../icons/GithubOutlineIcon.astro";
import MeshButton from "./MeshButton.astro";

interface Props {
  imageSrc?: string;
  imageAlt?: string;
  projectTitle: string;
  projectDescription: string;
  previewLink?: string;
  githubLink?: string;
  techs?: string[];
}

const {
  imageSrc,
  imageAlt,
  projectTitle,
  projectDescription,
  previewLink,
  githubLink,
  techs = [],
} = Astro.props;
---

<div
  class="squircle fade-up-card relative flex flex-col min-h-[34rem] overflow-hidden rounded-4xl border-1 border-white/20"
>
  <!-- Imagen de fondo -->
  <picture class="absolute inset-0 -z-[2]">
    <img
      src={imageSrc ?? "https://m.media-amazon.com/images/I/71UzjXRiGHL.jpg"}
      alt={imageAlt ?? "Project Image"}
      class="w-full h-full object-cover"
      loading="lazy"
      decoding="async"
    />
  </picture>

  <!-- capa oscura -->
  <div class="absolute inset-0 -z-[2] mask-t-from-10% bg-black/50"></div>

  <div class="flex flex-col justify-between h-full w-full relative z-0">
    <!-- buttons -->
    <div class="relative flex gap-2 w-full p-6">
      {
        previewLink && (
          <MeshButton
            text="Preview"
            Icon={PreviewIcon}
            textSize="text-base"
            textColor="text-slate-800"
            href={previewLink}
          />
        )
      }

      {
        githubLink && (
          <CustomButton
            text="Repository"
            Icon={GithubOutlineIcon}
            textSize="text-base"
            textColor="text-white"
            bgColor="bg-zinc-900/60"
            href={githubLink}
            extraClass="font-medium rounded-xl"
          />
        )
      }
    </div>

    <div
      class="flex flex-col gap-2 items-start justify-end w-full h-fit p-6 ring-1 ring-white/20 bg-white/10 backdrop-blur-xl"
    >
      <div class="flex flex-wrap gap-2 w-full">
        {techs.map((tech) => <Pill pillText={tech} />)}
      </div>

      <span class="text-2xl font-semibold line-clamp-2 text-white">
        {projectTitle}
      </span>

      <p class="text-sm text-pretty line-clamp-7 text-white/90">
        {projectDescription}
      </p>
    </div>
  </div>
</div>

<style>
  .fade-up-card {
    animation: slideIn 0.6s ease-out backwards;
    animation-timeline: view();
    animation-range: entry 20% cover 70%;
  }
  
  @supports (corner-shape: squircle) {
        .squircle {
            border-radius: 4.5rem;
            corner-shape: squircle; 
        }
    }
</style>
