---
const {
    text,
    Icon,
    textSize = "text-xl",
    iconSize = "size-5",
    textColor = "text-white",
    bgColor = "bg-white/10",
    hoverTextColor,
    hoverBgColor,
    href = null,
    extraClass,
    download = false,
} = Astro.props;

// estilos base
const baseStyles = `
    flex items-center gap-2 px-4 py-2 rounded-full 
    ${textSize} ${textColor} ${bgColor} 
    ring-1 ring-white/25 backdrop-blur-lg cursor-pointer
    transition duration-300 ease-out hover:scale-102 
    ${hoverTextColor} ${hoverBgColor} active:scale-95 
    ${extraClass}
`;
---

{href ? (
    <a 
        href={href}
        class={baseStyles}
        {...(!download ? { target: "_blank", rel: "noopener noreferrer" } : {})}
        {...(download ? { download: "CV_Heyder.pdf" } : {})}
    >
        <Icon class={iconSize} />
        {text}
    </a>
) : (
    <button class={baseStyles}>
        <Icon class={iconSize} />
        {text}
    </button>
)}