---
const {
    text,
    Icon,
    textSize = "text-xl",
    iconSize = "size-5",
    textColor = "text-white",
    bgColor = "bg-white/10",
    hoverTextColor,
    hoverBgColor,
    href = null, // si es null es renderizado como button, si tiene valor como link
    extraClass
} = Astro.props;

// definicion de estilos para no repetirlos
const baseStyles = `
    flex items-center gap-2 px-4 py-2 rounded-full 
     ${textSize} ${textColor} ${bgColor} 
    ring-1 ring-white/25 backdrop-blur-lg cursor-pointer
    transition duration-300 ease-out hover:scale-102 
    ${hoverTextColor} ${hoverBgColor} active:scale-95 
    ${extraClass}
`;
---

{href ? (
    <a 
        href={href} 
        target="_blank" 
        rel="noopener noreferrer" 
        class={baseStyles}
    >
        <Icon class={iconSize} />
        {text}
    </a>
) : (
    <button class={baseStyles}>
        <Icon class={iconSize} />
        {text}
    </button>
)}