---
const {
  Icon,
  IconHeight = "h-10",
  IconWidth = "w-10",
  IconTitle = "",
} = Astro.props;
---

<div
  class="relative flex items-center justify-center rounded-3xl overflow-hidden bg-white/10 backdrop-blur-lg ring-1 ring-white/20"
  title={IconTitle}
>
  <Icon class={`block ${IconHeight} ${IconWidth}`} />
  <Icon class={`absolute -z-1 right-18 top-14 -rotate-10 ${IconHeight} ${IconWidth} blur-xl opacity-80 scale-150`}/>
</div>
