---
const {
  Icon,
  IconHeight = "h-10",
  IconWidth = "w-10",
  IconTitle = "",
  delay
} = Astro.props;
---

<div
  class="squircle card scale-out relative flex items-center justify-center min-h-18 rounded-3xl overflow-hidden bg-white/10 backdrop-blur-lg ring-1 ring-white/20"
  title={IconTitle}
  style={`--animation-delay: ${delay};`}
>
  <Icon class={`block ${IconHeight} ${IconWidth}`} />
  <Icon class={`absolute -z-1 right-18 top-14 -rotate-10 ${IconHeight} ${IconWidth} blur-xl opacity-80 scale-150`}/>
</div>

<script>
  document.querySelectorAll('.card').forEach(card => {
    const observer = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        // Cuando el elemento es visible (isIntersecting es true)
        if (entry.isIntersecting) {
          entry.target.classList.remove('scale-out');
          entry.target.classList.add('scale-in');
          // Dejar de observar después de la primera entrada
          observer.unobserve(entry.target); 
        }
      });
    }, {
      // La animación se dispara cuando el elemento entra en un % en la vista.
      threshold: 0.2 //porcentaje
    });

    observer.observe(card);
  });
</script>

<style>
  .scale-out {
    transform: scale(0);
    opacity: 0;
    filter: blur(10px);
  }

  .scale-in {
    animation: scaleIn 0.8s ease-out var(--animation-delay) backwards; 
  }

  @supports (corner-shape: squircle) {
  .squircle {
    border-radius: 45%;
    corner-shape: squircle; 
  }
}
</style>